<section id="principal">
  <div class="container-fluid pt-2 px-lg-5 mb-4">
    <div class="row">
      <!-- Aquí se agregarán los autos dinámicamente -->
      <div *ngFor="let vehiculo of ListaVehiculos" class="col-4 mb-4">
        <img class="img-fluid mb-4" src="assets/car-rent-4.png" alt="" />
        <h6 class="text-uppercase mb-4">{{vehiculo.Modelo}}</h6>
        <div class="d-flex mb-4">
          <i class="text-primary"></i>
          <span>{{vehiculo.Year}}</span>
        </div>
        <a class="btn btn-primary" href=""> /día</a>
      </div>
    </div>
  </div>
  <div class="mb-5"></div>
  <script src="/js/bootstrap.bundle.min.js"></script>
</section>
