<section id="principal">
  <div class="container-fluid pt-2 px-lg-5" id="principal">
    <div class="row">
      <form class="row g-2 justify-content-center">
        <div class="col-auto">
          <input
            type="text"
            readonly
            class="form-control-plaintext"
            value="Busqueda de auto:"
          />
        </div>
        <div class="col-5">
          <input
            type="text"
            class="form-control"
            id="inputtext"
            placeholder="Modelo"
          />
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Buscar</button>
        </div>
      </form>
    </div>

    <div class="container-fluid py-2">
      <div class="container pt-2 pb-3">
        <h1 class="display-4 text-uppercase text-center mb-2">
          Encuentra tu auto
        </h1>
        <h2 class="display-6 text-uppercase text-center">Alta Gama</h2>
        <div class="row">
          <div class="col justify-content-center">
            <img class="img-fluid mb-4" src="assets/car-rent-1.png" alt="" />
            <h4 class="text-uppercase mb-4">Mercedes Benz AMG GT Serie S</h4>
            <div class="d-flex mb-4">
              <i class="text-primary"></i>
              <span>2016</span>
            </div>
            <a class="btn btn-primary" href="">$ 150.000/día</a>
          </div>
          <div class="col justify-content-center">
            <img class="img-fluid mb-4" src="assets/car-rent-2.png" alt="" />
            <h4 class="text-uppercase mb-4">BMW X6 II</h4>
            <div class="d-flex mb-4">
              <i class="text-primary"></i>
              <span>2015</span>
            </div>
            <a class="btn btn-primary" href="">$ 140.000/día</a>
          </div>
          <div class="col justify-content-center">
            <img class="img-fluid mb-4" src="assets/car-rent-3.png" alt="" />
            <h4 class="text-uppercase mb-4">Audi R8</h4>
            <div class="d-flex mb-4">
              <i class="text-primary"></i>
              <span>2019</span>
            </div>
            <a class="btn btn-primary" href="">$ 200.000/día</a>
          </div>
          <div class="col justify-content-center">
            <img class="img-fluid mb-4" src="assets/car-rent-4.png" alt="" />
            <h4 class="text-uppercase mb-4">Audi Q3</h4>
            <div class="d-flex mb-4">
              <i class="text-primary"></i>
              <span>2012</span>
            </div>
            <a class="btn btn-primary" href="">$ 130.000/día</a>
          </div>
          <div class="col justify-content-center">
            <img class="img-fluid mb-4" src="assets/car-rent-5.png" alt="" />
            <h4 class="text-uppercase mb-4">Mercedes Benz C Class</h4>
            <div class="d-flex mb-4">
              <i class="text-primary"></i>
              <span>2017</span>
            </div>
            <a class="btn btn-primary" href="">$ 140.000/día</a>
          </div>
          <div class="col justify-content-center">
            <img class="img-fluid mb-4" src="assets/car-rent-6.png" alt="" />
            <h4 class="text-uppercase mb-4">Audi R8</h4>
            <div class="d-flex mb-4">
              <i class="text-primary"></i>
              <span>2012</span>
            </div>
            <a class="btn btn-primary" href="">$ 160.000/día</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-1" id="principal">
    <div class="container pt-2 pb-3">
      <h2 class="display-6 text-uppercase text-center">Gama Media</h2>
      <div class="row">
        <div class="col justify-content-center">
          <img class="img-fluid mb-4" src="assets/car-rent-7.png" alt="" />
          <h4 class="text-uppercase mb-4">Chevrolet Camaro</h4>
          <div class="d-flex mb-4">
            <i class="text-primary"></i>
            <span>2011</span>
          </div>
          <a class="btn btn-primary" href="">$ 150.000/día</a>
        </div>
        <div class="col justify-content-center">
          <img class="img-fluid mb-4" src="assets/car-rent-8.png" alt="" />
          <h4 class="text-uppercase mb-4">Honda Civic</h4>
          <div class="d-flex mb-4">
            <i class="text-primary"></i>
            <span>2019</span>
          </div>
          <a class="btn btn-primary" href="">$ 100.000/Día</a>
        </div>
        <div class="col justify-content-center">
          <img class="img-fluid mb-4" src="assets/car-rent-9.png" alt="" />
          <h4 class="text-uppercase mb-4">GAC GS4 Power</h4>
          <div class="d-flex mb-4">
            <i class="text-primary"></i>
            <span>2022</span>
          </div>
          <a class="btn btn-primary" href="">$ 170.000/día</a>
        </div>
        <div class="col justify-content-center">
          <img class="img-fluid mb-4" src="assets/car-rent-10.png" alt="" />
          <h4 class="text-uppercase mb-4">Nissan Altima</h4>
          <div class="d-flex mb-4">
            <i class="text-primary"></i>
            <span>2018</span>
          </div>
          <a class="btn btn-primary" href="">$ 90.000/día</a>
        </div>
        <div class="col justify-content-center">
          <img class="img-fluid mb-4" src="assets/car-rent-11.png" alt="" />
          <h4 class="text-uppercase mb-4">Honda CR-V Hybrid</h4>
          <div class="d-flex mb-4">
            <i class="text-primary"></i>
            <span>2023</span>
          </div>
          <a class="btn btn-primary" href="">$ 160.000/día</a>
        </div>
        <div class="col justify-content-center">
          <img class="img-fluid mb-4" src="assets/car-rent-12.png" alt="" />
          <h4 class="text-uppercase mb-4">Mercedes-Benz GLC Coupé</h4>
          <div class="d-flex mb-4">
            <i class="text-primary"></i>
            <span>2021</span>
          </div>
          <a class="btn btn-primary" href="">$ 160.000/día</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-1">
    <div class="container pt-2 pb-3">
      <h2 class="display-6 text-uppercase text-center">Gama Mix</h2>
      <div class="row">
        <div class="col justify-content-center">
          <img class="img-fluid mb-4" src="assets/car-rent-13.png" alt="" />
          <h4 class="text-uppercase mb-4">Chevrolet Tracker LTZ</h4>
          <div class="d-flex mb-4">
            <i class="text-primary"></i>
            <span>2023</span>
          </div>
          <a class="btn btn-primary" href="">$ 150.000/día</a>
        </div>
        <div class="col justify-content-center">
          <img class="img-fluid mb-4" src="assets/car-rent-14.png" alt="" />
          <h4 class="text-uppercase mb-4">Chevrolet 3100</h4>
          <div class="d-flex mb-4">
            <i class="text-primary"></i>
            <span>1951</span>
          </div>
          <a class="btn btn-primary" href="">$ 250.000/día</a>
        </div>
        <div class="col justify-content-center">
          <img class="img-fluid mb-4" src="assets/car-rent-15.png" alt="" />
          <h4 class="text-uppercase mb-4">Buick Enclave</h4>
          <div class="d-flex mb-4">
            <i class="text-primary"></i>
            <span>2023</span>
          </div>
          <a class="btn btn-primary" href="">$ 120.000/día</a>
        </div>
        <div class="col justify-content-center">
          <img class="img-fluid mb-4" src="assets/car-rent-16.png" alt="" />
          <h4 class="text-uppercase mb-4">Mercedes-Benz Sprinter</h4>
          <div class="d-flex mb-4">
            <i class="text-primary"></i>
            <span>2010</span>
          </div>
          <a class="btn btn-primary" href="">$ 80.000/día</a>
        </div>
        <div class="col justify-content-center">
          <img class="img-fluid mb-4" src="assets/car-rent-17.png" alt="" />
          <h4 class="text-uppercase mb-4">Volvo 9900</h4>
          <div class="d-flex mb-4">
            <i class="text-primary"></i>
            <span>2002</span>
          </div>
          <a class="btn btn-primary" href="">$ 500.000/día</a>
        </div>
        <div class="col justify-content-center">
          <img class="img-fluid mb-4" src="assets/car-rent-18.png" alt="" />
          <h4 class="text-uppercase mb-4">International DuraStar</h4>
          <div class="d-flex mb-4">
            <i class="text-primary"></i>
            <span>2018</span>
          </div>
          <a class="btn btn-primary" href="">$ 450.000/día</a>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/bootstrap.bundle.min.js"></script>
</section>
