<section id="principal">
    <div class="container-fluid pt-2 px-lg-5" id="principal">
        <div class="row">
            <form class="row g-2 justify-content-center">
                <div class="col-auto ">
                    <input type="text" readonly class="form-control-plaintext" value="Busqueda de auto:">
                </div>
                <div class="col-5">
                    <input type="text" class="form-control" id="inputtext" placeholder="Modelo">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Buscar</button>
                </div>
            </form>
        </div>

        <div class="container-fluid py-2">
            <div class="container pt-2 pb-3">
                <h1 class="display-4 text-uppercase text-center mb-2">Encuentra tu auto</h1>
                <h2 class="display-6 text-uppercase text-center">Alta Gama</h2>
                <div class="row">
                    <div class="col justify-content-center">
                        <img class="img-fluid mb-4" src="assets/car-rent-1.png" alt="">
                        <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                        <div class="d-flex mb-4">
                            <i class="text-primary"></i>
                            <span>AñoModelo</span>
                        </div>
                        <a class="btn btn-primary" href="">$ Valor/Día</a>
                    </div>
                    <div class="col justify-content-center">
                        <img class="img-fluid mb-4" src="assets/car-rent-2.png" alt="">
                        <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                        <div class="d-flex mb-4">
                            <i class="text-primary"></i>
                            <span>AñoModelo</span>
                        </div>
                        <a class="btn btn-primary" href="">$ Valor/Día</a>
                    </div>
                    <div class="col justify-content-center">
                        <img class="img-fluid mb-4" src="assets/car-rent-3.png" alt="">
                        <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                        <div class="d-flex mb-4">
                            <i class="text-primary"></i>
                            <span>AñoModelo</span>
                        </div>
                        <a class="btn btn-primary" href="">$ Valor/Día</a>
                    </div>
                    <div class="col justify-content-center">
                        <img class="img-fluid mb-4" src="assets/car-rent-4.png" alt="">
                        <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                        <div class="d-flex mb-4">
                            <i class="text-primary"></i>
                            <span>AñoModelo</span>
                        </div>
                        <a class="btn btn-primary" href="">$ Valor/Día</a>
                    </div>
                    <div class="col justify-content-center">
                        <img class="img-fluid mb-4" src="assets/car-rent-5.png" alt="">
                        <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                        <div class="d-flex mb-4">
                            <i class="text-primary"></i>
                            <span>AñoModelo</span>
                        </div>
                        <a class="btn btn-primary" href="">$ Valor/Día</a>
                    </div>
                    <div class="col justify-content-center">
                        <img class="img-fluid mb-4" src="assets/car-rent-6.png" alt="">
                        <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                        <div class="d-flex mb-4">
                            <i class="text-primary"></i>
                            <span>AñoModelo</span>
                        </div>
                        <a class="btn btn-primary" href="">$ Valor/Día</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-1" id="principal">
        <div class="container pt-2 pb-3">
            <h2 class="display-6 text-uppercase text-center">Gama Media</h2>
            <div class="row">
                <div class="col justify-content-center">
                    <img class="img-fluid mb-4" src="assets/car-rent-7.png" alt="">
                    <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                    <div class="d-flex mb-4">
                        <i class="text-primary"></i>
                        <span>AñoModelo</span>
                    </div>
                    <a class="btn btn-primary" href="">$ Valor/Día</a>
                </div>
                <div class="col justify-content-center">
                    <img class="img-fluid mb-4" src="assets/car-rent-8.png" alt="">
                    <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                    <div class="d-flex mb-4">
                        <i class="text-primary"></i>
                        <span>AñoModelo</span>
                    </div>
                    <a class="btn btn-primary" href="">$ Valor/Día</a>
                </div>
                <div class="col justify-content-center">
                    <img class="img-fluid mb-4" src="assets/car-rent-9.png" alt="">
                    <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                    <div class="d-flex mb-4">
                        <i class="text-primary"></i>
                        <span>AñoModelo</span>
                    </div>
                    <a class="btn btn-primary" href="">$ Valor/Día</a>
                </div>
                <div class="col justify-content-center">
                    <img class="img-fluid mb-4" src="assets/car-rent-10.png" alt="">
                    <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                    <div class="d-flex mb-4">
                        <i class="text-primary"></i>
                        <span>AñoModelo</span>
                    </div>
                    <a class="btn btn-primary" href="">$ Valor/Día</a>
                </div>
                <div class="col justify-content-center">
                    <img class="img-fluid mb-4" src="assets/car-rent-11.png" alt="">
                    <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                    <div class="d-flex mb-4">
                        <i class="text-primary"></i>
                        <span>AñoModelo</span>
                    </div>
                    <a class="btn btn-primary" href="">$ Valor/Día</a>
                </div>
                <div class="col justify-content-center">
                    <img class="img-fluid mb-4" src="assets/car-rent-12.png" alt="">
                    <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                    <div class="d-flex mb-4">
                        <i class="text-primary"></i>
                        <span>AñoModelo</span>
                    </div>
                    <a class="btn btn-primary" href="">$ Valor/Día</a>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid py-1">
        <div class="container pt-2 pb-3">
            <h2 class="display-6 text-uppercase text-center">Gama Mix</h2>
            <div class="row">
                <div class="col justify-content-center">
                    <img class="img-fluid mb-4" src="assets/car-rent-13.png" alt="">
                    <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                    <div class="d-flex mb-4">
                        <i class="text-primary"></i>
                        <span>AñoModelo</span>
                    </div>
                    <a class="btn btn-primary" href="">$ Valor/Día</a>
                </div>
                <div class="col justify-content-center">
                    <img class="img-fluid mb-4" src="assets/car-rent-14.png" alt="">
                    <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                    <div class="d-flex mb-4">
                        <i class="text-primary"></i>
                        <span>AñoModelo</span>
                    </div>
                    <a class="btn btn-primary" href="">$ Valor/Día</a>
                </div>
                <div class="col justify-content-center">
                    <img class="img-fluid mb-4" src="assets/car-rent-15.png" alt="">
                    <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                    <div class="d-flex mb-4">
                        <i class="text-primary"></i>
                        <span>AñoModelo</span>
                    </div>
                    <a class="btn btn-primary" href="">$ Valor/Día</a>
                </div>
                <div class="col justify-content-center">
                    <img class="img-fluid mb-4" src="assets/car-rent-16.png" alt="">
                    <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                    <div class="d-flex mb-4">
                        <i class="text-primary"></i>
                        <span>AñoModelo</span>
                    </div>
                    <a class="btn btn-primary" href="">$ Valor/Día</a>
                </div>
                <div class="col justify-content-center">
                    <img class="img-fluid mb-4" src="assets/car-rent-17.png" alt="">
                    <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                    <div class="d-flex mb-4">
                        <i class="text-primary"></i>
                        <span>AñoModelo</span>
                    </div>
                    <a class="btn btn-primary" href="">$ Valor/Día</a>
                </div>
                <div class="col justify-content-center">
                    <img class="img-fluid mb-4" src="assets/car-rent-18.png" alt="">
                    <h4 class="text-uppercase mb-4">Nombre del auto</h4>
                    <div class="d-flex mb-4">
                        <i class="text-primary"></i>
                        <span>AñoModelo</span>
                    </div>
                    <a class="btn btn-primary" href="">$ Valor/Día</a>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>

</section>