

<div class="mb-1">
    
    <div class="form-outline form-white">
        <h3 class="ffw-normal mb-2">Cargos</h3>
        <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
    </div>
</div>

<div class="mb-3">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="Administrador" value="Administrador" id="Administrador">
        <label class="form-check-label" for="Administrador">
            Administrador
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="cargo" value="Empleado" id="Empleado">
        <label class="form-check-label" for="Empleado">
            Empleado
        </label>
    </div>
</div>

<button type="button" class="btn btn-light btn-lg" data-mdb-ripple-color="dark">Registrar</button>
