<section id="principal">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-4 text-primary">Acerca de RentEasy</h1>
                <p class="lead">Bienvenidos a RentEasy, tu compañía de alquiler de vehículos de confianza. En RentEasy, estamos comprometidos en proporcionar a nuestros clientes una experiencia de alquiler de vehículos sin complicaciones y conveniente. Nuestro objetivo es hacer que tu viaje sea más accesible, cómodo y emocionante.</p>
            </div>
            <div class="col-md-6">
                <img src="assets/LogoRentEasy.jpeg" alt="RentEasy" class="img-fluid rounded">
            </div>
        </div>
    </div>
    
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-primary">Nuestra Misión</h2>
                <p>Nuestra misión en RentEasy es ofrecer a nuestros clientes un servicio de alquiler de vehículos de primera clase que cumpla con todas sus necesidades de movilidad. Creemos que cada viaje es una aventura, ya sea que estés viajando por negocios o explorando un nuevo destino. Queremos ser parte de tus experiencias inolvidables, brindándote la libertad de ir a donde quieras, cuando quieras.</p>
            </div>
            <div class="col-md-6">
                <h2 class="text-primary">Lo Que Ofrecemos</h2>
                <p>En RentEasy, ofrecemos una amplia gama de vehículos de alquiler de alta calidad para adaptarnos a tus necesidades específicas. Desde automóviles compactos para viajes urbanos hasta SUVs espaciosos para aventuras en familia, tenemos el vehículo perfecto para ti. Nuestra flota se mantiene en óptimas condiciones, asegurando que siempre tengas un viaje seguro y confiable.</p>
            </div>
        </div>
    </div>
    
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-primary">Compromiso con la Calidad y el Servicio al Cliente</h2>
                <p>En RentEasy, la satisfacción del cliente es nuestra prioridad número uno. Nuestro equipo dedicado está aquí para ayudarte en cada paso del proceso de alquiler, desde la selección del vehículo adecuado hasta la devolución sin problemas. Además, ofrecemos precios competitivos y opciones de alquiler flexibles para adaptarnos a tus necesidades individuales.</p>
            </div>
            <div class="col-md-6">
                <h2 class="text-primary">Nuestra Historia</h2>
                <p>Fundada en [año de fundación], RentEasy ha crecido y evolucionado a lo largo de los años. Nuestro compromiso con la excelencia y la satisfacción del cliente nos ha llevado a convertirnos en una empresa líder en la industria de alquiler de vehículos. Hoy, operamos en [número de ubicaciones] ubicaciones en todo el país, y seguimos creciendo para servir mejor a nuestros clientes.</p>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</section>
