<footer class="text-center text-white fixed-bottom" style="background-color: #f1f1f1">
  <div class="container pt-2">
    <section class="mb-2">
      <!-- Enlaces de redes sociales -->
      <a href="#" class="text-primary" title="Facebook" style="font-size: 0.8rem; margin-right: 15px;">
        <i class="fab fa-facebook"></i> Facebook
      </a>
      <a href="#" class="text-info" title="Twitter" style="font-size: 0.8rem; margin-right: 15px;">
        <i class="fab fa-twitter"></i> Twitter
      </a>
      <a href="#" class="text-danger" title="Instagram" style="font-size: 0.8rem;">
        <i class="fab fa-instagram"></i> Instagram
      </a>
      
    </section>
  </div>
 
  
  
  <div class="text-center text-dark p-2" style="background-color: rgba(0, 0, 0, 0.2); font-size: 0.8rem;">
    <a href="" style="color: white;">Cra. 6 #16c24, Valledupar, Cesar </a>
  </div>
</footer>
