
<section class="h-100 h-custom gradient-custom-2 bg-dark">
    <div class="container py-4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-95">
        <div class="col-12">
            <h2 class="row d-flex justify-content-center align-items-center"id="titulo">GESTION DE CATEGORIAS</h2>
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-4">
                    <h3 class="fw-normal mb-5" style="color: #4835d4;">Tipo De Vehiculo</h3>
  
                    
                    <div class="form-outline">
                        <input type="text" id="form3Examplev2" class="form-control form-control-lg" [(ngModel)]="TipoVehiculos.Nombre"/>
                      </div>
                      
                      <div class="d-flex align-items-center mb-3">
                        
                      </div>
                      <button  id="buttonTipoVehiculo" type="button" class="btn btn-light btn-lg" data-mdb-ripple-color="White">Registrar</button>

                     
                      <div class="d-flex align-items-right mb-5">
                        <app-marca></app-marca>
                    </div>
                   
                      
                    
                  </div>
                  
                </div>
              

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>