<div id="princi">
  <h2 >Galería</h2>
  <br><br>
  <hr>
  <div class="container-fluid">
    
    
    <div>

      <div class="row">
        <!-- Gallery item -->
        
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 "    >
          <div class="bg-white rounded shadow-sm img-fluid " ><img src="assets/car-rent-1.png" width="350">
            
            <div class="p-4" >
              <h5> <a href="#" class="text-dark">Mercedez Benz AMG GT Serie S</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
             
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-2.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">BMW X6 II</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-3.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Audi R8</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-6.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Audi R8</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-4.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Audi Q3</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>

            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-5.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Mercedez Benz C Class</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-8.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Honda Civic</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-6.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Audi R8</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-7.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Chevrolet Camaro</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-10.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Nissan Altima</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-9.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">GAC GS4 Power</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-11.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Honda CR-V HYBRID</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-12.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Mercedez Benz GLC COUPÉ</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-16.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Mercedez Benz Sprinter</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-13.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">Chevrolet Tracker LTZ</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-14.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">CHEVROLET 3100</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-15.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">BUICK ENCLAVE</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-18.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">International DURASTAR</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-17.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">VOLVO 9900</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
          <div class="bg-white rounded shadow-sm img-fluid "><img src="assets/car-rent-18.png" width="350">
            <div class="p-4">
              <h5> <a href="#" class="text-dark">VOLVO 9900</a></h5>
              <p class="small text-muted mb-0">Lorem (Detalles) ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <!-- End -->
      </div>
      <br>
     <br>
     <div class="py-5 text-right"><a href="#" id="botonver" class="btn btn-dark px-5 py-3 text-uppercase">VER MAS</a></div>
     <br>
     <br>
    </div>
  </div>
  <div id="div-totop" class="cmn-divfloat">
    <a href="#span-top" class="btn btn-primary cmn-btncircle">
      <i class="fa fa-arrow-up"></i>
    </a>

  </div>
<script src="assets/boton.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
