*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.cmn-divfloat {
    position: fixed !important;
    bottom: 45px;
    right: 15px;
    display: none;
}
.cmn-btncircle {
    width: 40px !important;
    height: 40px !important;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
}

#princi{
    background-color: #A9A9A9;
}

#botonver{
    margin-bottom: 50px;
}

h5{
  font-weight: bold;
}
/* Estilo personalizado para el título */
