<div id="contenedor">

  <div class="row">


    <div class="col" id="Contenedor">
      <br>
      <br>
      <br>
      <br>
      <div class="text-center">
        <h1>CONSULTAS</h1>
      </div>
      <button class="btn btn-primary" type="button" id="mover1">Consulta Vehiculos</button>
      <button class="btn btn-primary" type="button" id="mover2">Consulta Tipo De Vehiculo</button>
      <button class="btn btn-primary" type="button" id="mover3">Consulta Clientes</button>
      <button class="btn btn-primary" type="button" id="mover4">Consulta Tipo de Clientes</button>
      <button class="btn btn-primary" type="button" id="mover5">Consulta Tarifa</button>
      <button class="btn btn-primary" type="button" id="mover6">Consulta Marcas</button>
      <button class="btn btn-primary" type="button" id="mover7">Consulta Reservas</button>
      <button class="btn btn-primary" type="button" id="mover7" >Consulta Alquileres</button>

    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>Twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>