<div id="conprincipal">
    
    <img src="assets/toyota-removebg-preview.png" alt="toyoya" class="toyotaimg">

        <p><a href="#" class="text-dagenr font-weight-bold">Detalles</a></p>
    
    <div class="container mt-4 w-50" id="fechaini" >
        <div class="form-group w-50">
            <label for="fecha"><h4>Fecha Inicio:</h4></label>
            <input type="date" class="form-control" id="fecha" name="fecha">
        </div>
    </div>
    <div class="container mt-4 w-50" id="fechafin">
        <div class="form-group w-50">
            <label for="fecha"><h4>Fecha Fin:</h4></label>
            <input type="date" class="form-control" id="fecha" name="fecha">
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg" style="background-color: aliceblue; color: black;">Reservar</button>
    <div class="row justify-content " id="tamaño">
        <a href="#" data-toggle="lightbox" data-gallery="hidden-images"
            class="col-1 mr-1">
            <img src="assets/carro1.jpg" class="img-fluid ">
        </a>
        <a href="#" data-toggle="lightbox" data-gallery="hidden-images"
            class="col-1 mr-1">
            <img src="assets/carro2.jpg" class="img-fluid">
        </a>
        <a href="#" data-toggle="lightbox" data-gallery="hidden-images"
            class="col-1 mr-1">
            <img src="assets/carro3.jpg" class="img-fluid">
        </a>
        <a href="#" data-toggle="lightbox" data-gallery="hidden-images"
            class="col-1 mr-1">
            <img src="assets/carro4.jpg" class="img-fluid">
        </a>
        <a href="#" data-toggle="lightbox" data-gallery="hidden-images"
            class="col-1 mr-1">
            <img src="assets/carro5.jpg" class="img-fluid">
        </a>
        <a href="#" data-toggle="lightbox" data-gallery="hidden-images"
            class="col-1 mr-1">
            <img src="assets/carro6.jpg" class="img-fluid">
        </a>
         <a href="#" data-toggle="lightbox" data-gallery="hidden-images" class="col-1 mr-1">
            <img src="assets/carro7.jpg" class="img-fluid">
        </a>
        <a href="#" data-toggle="lightbox" data-gallery="hidden-images" class="col-1 mr-1">
            <img src="assets/carro9.jpg" class="img-fluid">
        </a>
        <a href="#" data-toggle="lightbox" data-gallery="hidden-images" class="col-1 mr-1">
            <img src="assets/carro10.jpg" class="img-fluid">
        </a>
        <a href="#" data-toggle="lightbox" data-gallery="hidden-images" class="col-1 mr-1">
            <img src="assets/carro11.jpg" class="img-fluid">
        </a><a href="#" data-toggle="lightbox" data-gallery="hidden-images" class="col-1 mr-1">
            <img src="assets/carro12.jpg" class="img-fluid">
        </a>
        
    </div>
    
</div>